@charset "UTF-8";
html {
    font-size: 14px;
    @include laptop {
        font-size: 16.5px;
    }
}
body {
    background-color: #fff;

    font-family: $sanserif;
    line-height: 1.618;
    letter-spacing: 0.03em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-tap-highlight-color:rgba(0,0,0,0);
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, tt, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
nav, output, ruby, section,
time, mark, audio, video, applet, s, center, menu, summary, picture {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-style: normal;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: bold;
    line-height: inherit;
}
p {
    font-size: 100%;
    font-weight: normal;
    line-height: inherit;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: unset;
    height: auto;
    width :auto;
    vertical-align: middle;
}
table {
    border-collapse: collapse;
}
th,td {
    border-collapse: collapse;
    border-spacing: 0;
}
button {
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
input,select {
    border: none;
    background-color: transparent;
    border-radius: 0;
    font-weight: normal;
    color: #000000;
    cursor: pointer;
}
[type=text] {
    cursor: text;
}
label {
    cursor: pointer
}
:focus {
    outline: none;
}
::selection {
    background: rgba(0, 0, 0, 0.1);
}
::-moz-selection {
    background: rgba(0, 0, 0, 0.1);
}
.red {
    color: $red;
}
.text-right {
    text-align: right;
}
.block-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.margin-reset {
    margin: 0;
}
.list-reset {
    list-style: none;
    padding-left: 0;
    li {
        margin-top: 0;
    }
}
.text-nowrap {
    display: inline-block;
    white-space: nowrap;
}
.ja-narrow {
    margin-right: -0.5em;
}
.page-link {
    color: $link;
    font-weight: bold;
    text-decoration: underline;
}
.half-width-fit {
    font-size: 1.15em;
}
.list-note {
    margin: 0 !important;
    padding-left: 0 !important;
    list-style: none;
    li {
        &::before {
            content: '※';
        }
    }
}
.note {
    &::before {
        content: '※';
    }
}
.list-flow {
    position: relative;
    padding-left: 0;
    list-style: none;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0.57em;
        background: $theme;
        width: 2px;
        height:100%;
    }
    &__title {
        color: $attentionTheme;
        font-size: 1.15rem;
        margin-bottom: 0.75rem;
    }
    &__item {
        position: relative;
        list-style: none;
        padding-left: 2.4em;
        margin-top: 3.5rem;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: #fff;
            border: solid 2px $theme;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 1.25em;
            height: 1.25em;
            border-radius:50%
        }
    }
}

.normal-table {
    width: 100%;
    margin: 1rem 0;
    tr {
        border-bottom: solid 1px $gray;
        &:first-child {
            border-top: solid 1px $gray;
        }
    }
    th, td{
        text-align: center;
        padding: 15px 1rem;
    }
}
.app-button-box {
    position: relative;
    padding: 1rem 38px 1rem 31px;
    border-radius: 5px;
    white-space: nowrap;
    letter-spacing: 0.05em;
    font-weight: bold;
    color: #fff;
    background-color: $theme;
    flex-grow: 1;
    z-index: 2;
    transition: color 0.3s,background 0.25s;
    &::before {
        position: absolute;
        content: '';
        right: 20px;
        top: calc(50% - 6px);
        width: 8px;
        height: 8px;
        border: solid 2px #fff;
        border-width: 2px 2px 0 0;
        transform: rotate(45deg);
    }
}
.sort {
    &__buttons {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 0.5rem;
        padding-bottom: 2.25rem;
    }
}
